* {
    margin: 0;
    padding: 0;
}

header {
    background-color: lightblue;
    border-bottom: 10px solid black;
    width: 100%;
}

main {
    background-color: #b1abab;
    padding: 10px;
}

footer {
    background-color: lightblue;
    height: 50px;
}

nav {
    text-align: right;
    display: block;
}

h1 {
    font-size: 40px;
    padding: 10px;
}

h2 {
    text-align: center;
    font-size:30px 
}

.about-me {
    padding: 50px;
}

.work-history{
    padding: 50px;
}

.my-projects{
    padding: 50px;
}

.contact-info {
    border: 5px solid black;
    margin: 10px 100px;
    border-radius: 10px;
    text-align: center;
    display: block;
}

.card { 
    background-color: #959090db;
    display: block;
    padding: 50px;
    border-style: solid;
    margin: 10px;
    text-align: center;
    height: 100px;
   
    
}

nav li {
    display: inline;
    padding: 10px;
    margin: 0 10px;
    color: #616060;
    font-size: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#challenge-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}