* {
    margin: 0;
    padding: 0;
}
header {
    background-color: lightblue;
    border-bottom: 10px solid black;
    width: 100%;
}

main {
    background-color: #b1abab;
    padding: 0
    ;
}

footer {
    background-color: lightblue;
}

nav {
    text-align: right;
}
